<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/404.css" />
    <title>Not found</title>
  </head>
  <body>
    <a href="/">HOME</a>
    <div title="404">404</div>
  </body>
</html>
