<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Display</title>
  </head>
  <body>
    <figure class="snip1336">
      <img
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg"
        alt="sample87"
      />
      <figcaption>
        <img
          src="<%= currUser.photo %>"
          alt="profile-sample4"
          class="profile"
        />
        <h2><%= currUser.name %><span><%= currUser.email %></span></h2>
        <p>
          I'm looking for something that can deliver a 50-pound payload of snow
          on a small feminine target. Can you suggest something? Hello...?
        </p>
        <a href="#" class="follow">Follow</a>
        <a href="#" class="info">More Info</a>
      </figcaption>
    </figure>
  </body>
</html>
