<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/explore.css" />
    <title>Display</title>
  </head>
  <body>
    <div class="buttons__1">
      <a href="/" class="button__1">HOME</a>
      <% if(data.loggedUser){ %>
      <a href="/logout" class="button__1">LOGOUT</a>
      <% } %>
    </div>
    <div class="cards">
      <% for(index in data.posts){ %>
      <div class="card">
        <div class="card__image-holder">
          <img
            class="card__image"
            src="<%= data.posts[index].photo %>"
            alt="wave"
          />
        </div>
        <div class="card-title">
          <h2>
            <%= data.posts[index].title %>
            <small><%= data.posts[index].author %></small>
          </h2>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
